{% include 'base.html' %}
{% block stuff %}
    <section id="product1" class="section-p1">
        <h2>{{ category_title|title }}</h2>
        <p>Check out our {{ category_title |title}}</p>
        <div class= "pro-container">
            {% for item in items %}
            <div class="pro">
                <!-- Assuming the image is stored in the database, otherwise adjust accordingly -->
                <img src="{{ item.images }}" alt="{{ item.name }}" />
                <div class="des">
                    <!-- Displaying the item name and description -->
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.description }}</p>
                    <h4>${{ item.price }}</h4>
                </div>
                <a href="#" class="toggle-favorite" data-item-id="{{ item.id }}" onclick="toggleFavorite(this)"><i class="fas fa-regular fa-heart" style='{% if item.id in favorited %}color: #f60d4b;{% endif %}'></i></a>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            {% endfor %}
        </div>
    </section>
    <script>
        function toggleFavorite(element) {
            event.preventDefault();
            var itemId = element.getAttribute('data-item-id');
            
            // Send AJAX request to toggle item in favorites
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/toggle_favorite', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Handle success response
                        var response = JSON.parse(xhr.responseText);
                        console.log(response.message);
                        // Toggle the color of the heart icon
                        var heartIcon = element.querySelector('i.fa-heart');
                        heartIcon.style.color = heartIcon.style.color === 'rgb(246, 13, 75)' ? '' : '#f60d4b';
                    } else {
                        // Handle error response
                        console.error('Error toggling item in favorites:', xhr.responseText);
                    }
                }
            };
        
            // Toggle the item in favorites based on its current state
            xhr.send('item_id=' + encodeURIComponent(itemId));
        }
    </script>
    {% include 'footer.html' %}
{% endblock %}
