{% include 'base.html' %}
{% block stuff %}
    <section id="product1" class="section-p1">
        <h2>Favorites</h2>
        <p>favorite list</p>
        <!-- Other HTML content -->
        <div class="pro-container">
            {% for item in items %}
            <div class="pro">
                <!-- Assuming the image is stored in the database, otherwise adjust accordingly -->
                <img src="{{ item.images }}" alt="{{ item.name }}" />
                <div class="des">
                    <!-- Displaying the item name and description -->
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.description }}</p>
                    <h4>£{{ item.price }}</h4>
                </div>
                <a href="#" class="toggle-favorite" data-item-id="{{ item.id }}" onclick="toggleFavorite(this)"><i class="fas fa-regular fa-heart" style="color: #f60d4b;"></i></a>
                <a href="#" class="toggle-cart" data-item-id="{{ item.id }}" onclick="toggleCart(this)"><i class="fas fa-shopping-cart cart"  style='{% if item.id in carted %}color: #088178;{% endif %}'></i></a>
            </div>
            {% endfor %}
        </div>
    </section>

    {% include 'footer.html' %}
{% endblock %}
