<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link rel="stylesheet" href="static/style.css" />
    <title>Darak Group</title>
  </head>

  <body>
    <section id="small-header">
      <div class="container">
          <ul id="small-navbar">
              <li><a href="#">{{ small_header.sheader1 }}</a></li>
              <li><a href="#">{{ small_header.sheader2 }}</a></li>
              <li><a href="#">{{ small_header.sheader3 }}</a></li>
              <li><a href="/login"><i class="{{small_header.sheader4}}" style="font-size: 16px;"></i></a></li>
          </ul>
      </div>
  </section>

  <section id="header">
    <a href="#"><img src="{{ header.logo }}" class="logo" alt="" width="100" height="100"/></a>
    {% for section in sections %}
    <a href="{{ (section.name|lower()).replace(' ', '_') }}.html" class="section-link" data-category="{{ section.categories|join(', ') }}">{{ section.name }}</a>
    {% endfor %}
  
    <ul id="navbar">
      <li><a href="javascript:void(0);" id="search-icon"><i class="fas fa-search"></i></a></li>
      <li><a href="#"><i class="{{header.header_2}}"></i> </a></li>
      <li><a href="#"><i class="{{header.header_1}}"></i></a></li>
    </ul>
    <!-- Search Box to be displayed over the header -->
    <div id="search-box" class="search-box">
      <i class="{{header.header_3}}" id="search-magnifier"></i>
      <input type="text" placeholder="Search for a product" id="search-input">
      <i class="{{header.header_4}}" id="close-search"></i> <!-- You can replace this with a FontAwesome icon if preferred -->
    </div>
    
  </section>
  
  <div class="category-container" id="category-container">
    <ul>
        {% for section in sections %}
            {% for category in section.categories %}
                <li><a href="/categories/{{ category }}">{{ category }}</a></li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>


    <section id="hero">
      <div class="hero-slider">
        <img src="{{ hero.hero1}}" alt="Hero 1" class="hero-img active">
        <img src="{{ hero.hero2}}" alt="Hero 2" class="hero-img">
   
      </div>
      <button class="arrow left-arrow" onclick="moveSlide(-1)">&#10094;</button>
      <button class="arrow right-arrow" onclick="moveSlide(1)">&#10095;</button>
      <div class="dot-container"></div> <!-- Container for the dots -->
    </section>
  
  <!-- <section id="feature" class="section-p1">
    <div class="fe-box">
      <img
        src="/static/features/f1.png"
        alt=""
      />
      <h6>Free shipping</h6>
    </div>

    <div class="fe-box">
      <img
        src="/static/features/f2.png"
        alt=""
      />
      <h6>Online order </h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f3.png"
        alt=""
      />
      <h6>Save Money</h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f4.png"
        alt=""
      />
      <h6>Promotions</h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f5.png"
        alt=""
      />
      <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f6.png"
        alt=""
      />
      <h6>24h Support</h6>
    </div>
  </section> -->

    <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p> Check out our products</p>
      <div class= "pro-container">
        <div class="pro">
          <img
            src="/static/products/product1.jpg"
            alt=""
          />
        <div class="des">
          <span>SHARP</span>      
          <h5>8K Smart LED TV 60 Inch Android</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4> $1000 </h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="/static/products/product2.jpg"
            alt=""
          />
        <div class="des">
          <span>HOOVER</span>      
          <h5>Microwave Solo 25 Liter</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4>$150</h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="/static/products/product3.jpg"
            alt=""
          />
        <div class="des">
          <span>Sony</span>      
          <h5>Portable Wireless Bluetooth Speaker</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4> $35</h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="/static/products/product5.jpg"
            alt=""
          />
        <div class="des">
          <span>TORNADO</span>      
          <h5>TORNADO Washing Machine 7 Kg - 5 Kg Dryer Black </h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4> $3500</h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="/static/products/product4.jpg"
            alt=""
          />
        <div class="des">
          <span>TORNADO</span>      
          <h5>TORNADO Automatic Turkish Coffee Maker</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4> $50 </h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
      </div>
    </section>
    
    <section id ="banner" class ="section-m1">
      <h4>Offers And Discounts</h4>
      <h2>Get <span>50%</span> off</h2>
      <button class ="normal">Shop Now</button>
    </section>

    <section id="product1" class="section-p1">
      <h2>New Arrivals</h2>
      <p> Check out latest products</p>
      <div class= "pro-container">
        <div class="pro">
          <img
            src="/static/new_arrivals/NA1.jpg"
            alt=""
          />
        <div class="des">
          <span>SONY</span>      
          <h5>PlayStation PS5™ - Standard Version ( Disk ) in White Colord</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4> $600 </h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="/static/new_arrivals/NA2.jpg"
            alt=""
          />
        <div class="des">
          <span>TORNADO</span>      
          <h5>MChopper 400 Watt 1 Liter Mince Meat Molokhia White</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4>$50</h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="/static/new_arrivals/NA3.jpg"
            alt=""
          />
        <div class="des">
          <span>SEIKO</span>      
          <h5>Men's Hand Watch PROSPEX Oily Rubber Strap, Green Dial</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4> $500</h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
          <img
            src="/static/new_arrivals/NA4.jpg"
            alt=""
          />
        <div class="des">
          <span>TORNADO</span>      
          <h5> Manual Espresso Machine 15bar 1.2L Black x Stainless</h5>
            <div class ="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          <h4> $149</h4>
         </div>
         <a href ='#'> <i class="fas fa-shopping-cart cart"></i></a>
        </div>
      </div>
    </section>

    <section id="newsletter" class = "section-p1">
      <div class="newstext">
        <h4>Subscribe to our newsletter</h4>
        <p>Get the latest news and <span> special offers</span></p>
      </div>
      <div class="form">
        <input type="text" placeholder="Enter your email" />
        <button class ="normal">Subscribe</button>
      </div>
    </section>

    <footer class="section-p1">
      <div class="col">
        <img
          class="logo"
          src="/static/Darak Logo.png"
          class="logo"
          alt=""
          width="100"
          height="100"
        />
        <h4>Contact</h4>
        <p><strong>Address</strong> 41 El Marghany st. Helwan, Cairo, Egypt</p>
        <p><strong>Phone</strong> +2012345678</p>
        <p><strong>Hours</strong> 11:00 - 23:00 Mon - Sun</p>

        <div class="social">
          <h4>Follow us</h4>
          <div class="icon">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    
      <div class="col">
        <h4>Information</h4>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
      </div>
    
      <div class="col">
        <h4>My Account</h4>
          <a href="#">Sign In</a>
          <a href="#">View Cart</a>
          <a href="#">Wishlist</a>
          <a href="#">Track Order</a>
          <a href="#">Help</a>
      </div>
    
      <div class="footer-bottom">
        <p>© 2023 Darak Group. All rights reserved.</p>
      </div>
    </footer>
  
  <script src="static/script.js"></script>
    
</body>
</html>