{% include 'base.html' %}

    <section id="hero">
      <div class="hero-slider">
        <img src="{{ hero.hero1}}" alt="Hero 1" class="hero-img active">
        <img src="{{ hero.hero2}}" alt="Hero 2" class="hero-img">
   
      </div>
      <button class="arrow left-arrow" onclick="moveSlide(-1)">&#10094;</button>
      <button class="arrow right-arrow" onclick="moveSlide(1)">&#10095;</button>
      <div class="dot-container"></div> <!-- Container for the dots -->
    </section>
  
<section id="feature" class="section-p1">
    <div class="fe-box">
      <img
        src="/static/features/f1.png"
        alt=""
      />
      <h6>Free shipping</h6>
    </div>

    <div class="fe-box">
      <img
        src="/static/features/f2.png"
        alt=""
      />
      <h6>Online order </h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f3.png"
        alt=""
      />
      <h6>Save Money</h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f4.png"
        alt=""
      />
      <h6>Promotions</h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f5.png"
        alt=""
      />
      <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
      <img
        src="/static/features/f6.png"
        alt=""
      />
      <h6>24h Support</h6>
    </div>
  </section> 

  <section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Check out our products</p>
    <div class="pro-container">
        {% for item in random_items %}
        <div class="pro">
            <!-- Assuming the image is stored in the database, otherwise adjust accordingly -->
            <img src="{{ item.images }}" alt="{{ item.name }}" />
            <div class="des">
                <!-- Displaying the item name and description -->
                <h5>{{ item.name }}</h5>
                <p>{{ item.description }}</p>
                <h4>£{{ item.price }}</h4>
            </div>
            <a href="#" class="toggle-favorite" data-item-id="{{ item.id }}" onclick="toggleFavorite(this)"><i class="fas fa-regular fa-heart" style='{% if item.id in favorited %}color: #f60d4b;{% endif %}'></i></a>
            <a href="#" class="toggle-cart" data-item-id="{{ item.id }}" onclick="toggleCart(this)"><i class="fas fa-shopping-cart cart"  style='{% if item.id in carted %}color: #088178;{% endif %}'></i></a>
        </div>
        {% endfor %}
    </div>
</section>

    
    <section id ="banner" class ="section-m1">
      <h4>Offers And Discounts</h4>
      <h2>Get <span>50%</span> off</h2>
      <button class ="normal">Shop Now</button>
    </section>

    <section id="product1" class="section-p1">
      <h2>New Arrivals</h2>
      <p>Check out latest products</p>
      <div class="pro-container">
          {% for item in last_4_items %}
          <div class="pro">
              <img src="{{ item.images }}" alt="{{ item.name }}" />
              <div class="des">
                  <h5>{{ item.name }}</h5>
                  <p>{{ item.description }}</p>
                  <h4>${{ item.price }}</h4>
              </div>
              <a href="#" class="toggle-favorite" data-item-id="{{ item.id }}" onclick="toggleFavorite(this)">
                  <i class="fas fa-regular fa-heart" style="{% if item.id in favorited %}color: #f60d4b;{% endif %}"></i>
              </a>
              <a href="#" class="toggle-cart" data-item-id="{{ item.id }}" onclick="toggleCart(this)">
                  <i class="fas fa-shopping-cart cart" style="{% if item.id in carted %}color: #088178;{% endif %}"></i>
              </a>
          </div>
          {% endfor %}
      </div>
  </section>
  
    

    {% include 'footer.html' %}
  <script src="/static/script.js"></script>
    
</body>
</html>
