<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link rel="stylesheet" href="static/style.css" />
    <title>Darak Group</title>
  </head>

  <body>
    <section id="header">
      <a href="#"
        ><img
          src="/static/Darak Logo.png"
          class="logo"
          alt=""
          width="100"
          height="100"
        />
      </a>
      <div>
        <ul id="navbar">
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <a href="cart.html"
              ><i
                ><img
                  src="/static/cart-shopping-solid.svg"
                  alt="Cart Icon" /></i
            ></a>
          </li>
        </ul>
      </div>
    </section>
</body>
</html>

<!--
    <section id="hero">
      <h4>Offers</h4>
      <h2>50% OFF</h2>
      <h1>on all products</h1>
      <p>save more with vouchers up to 70% off!%</p>
      <button>Shop Now</button>
    </section>

    <section id="categories" class="categories">
      <div class="cat-box">
        <img
          src="/static/electronic_devces.png"
          alt=""
        />
        <h6>Electronic Devices</h6>
      </div>
    </section>

    <script src="script.js"></script>
  </body>
</html> -->
